#stars {
    width: 850px;
    height: 450px;
    background-image: url(img/nasa-background.jpg)
}

h1 {
    color: white;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 450px;
}

#greybox {
    background-color: lightgray;
    width: 850px;
    height: 324px;
    margin-top: 20px;
}

.left {
    float: left;
    width: 33%;
}

h2 {
    font-family: sans-serif;
    margin: 20px;
    
}

form {
    margin-left: 10px;
}

input {
    width: 200px;
}

#message {
    height: 80px;
}