.small-box {
    width: 300px;
    height: 300px;
    
}
.small-box h2 {
    color: white;
    text-transform: uppercase;
}
.small-box p {
    color: lawngreen;
}
#grow {
    background: url('../img/featured-image-3.jpg') rgba(70, 72, 82, 0.9); 
    background-repeat: no-repeat;
    
}
#plant {
    background: url('../img/featured-image-4.jpg'), rgba(70, 72, 82, 0.9);
    background-repeat: no-repeat;
}
#land {
    background: url('../img/featured-image-5.jpg');
    background-repeat: no-repeat;
    width: 600px;
    height: 500px;
    padding: 50px;
    float: left;
}
#land h1 {
    color: white;
    text-transform: uppercase;
}
#land h3 {
    color: lawngreen;
}
#land p {
    color: white;
}
aside {
    float: left;
}
main {
    background: aqua;
    width: 1080px;
}
.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}