.container {
    width: 80%;
    margin: 0 auto;
}
.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}
header {
    height: 20px;
    padding: 15px;
}
header h1 {
    float: left;
    text-transform: uppercase;
}
header nav {
    float: right;
}
header nav a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}
header nav a:hover {
    text-decoration: underline;
}
#bigpic {
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    text-align: center;
    color: white;
    padding-top: 100px;
    margin-bottom: 30px;
}
#bigpic h1 {
    font-size: 60px;
    font-family: 'Slabo 27px', serif;
}
#moody div img {
    float: left;
    width: 50%;
}
#moody div h3 {
    text-align: center;
    font-size: 30px;
}
#moody div p {
    text-align: center;
}
#moody {
    padding-bottom: 30px;
}
#four {
    /*background: green;*/
    padding-bottom: 30px;
}
#four div {
    float: left;
    width: 23%;
    text-align: center;
    margin-right: 15px;
}
#four div:last-child {
    margin-right: 0;
}
#four div h4 {
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}
#four div p {
    text-align: center;
}
#double {
    padding-bottom: 30px;
}
#double div {
    float: left;
    width: 50%;
    text-align: center;
}
#double div p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 81px;
    margin-left: 81px;
}
#double div h5 {
    text-align: right;
    margin-right: 85px;
}
#last {
    background: url('http://www.placehold.it/800x300');
    height: 300px;
    text-align: center;
}
#last p {
    font-size: 30px;
    padding-top: 80px;
    margin-bottom: 30px;
    text-align: center;
}
#