.container {
    width: 80%;
    margin: 0 auto;
}
header {
    height: 20px;
    padding: 15px;
}
header h1 {
    float: left;
    text-transform: uppercase;
}
header nav {
    float: right;
}
header nav a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}
header nav a:hover {
    text-decoration: underline;
}
#bigpic {
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    text-align: center;
    color: white;
    padding-top: 100px;
    margin-bottom: 30px;
}
#bigpic h1 {
    font-size: 60px;
    font-family: 'Slabo 27px', serif;
}
#moody div img {
    float: left;
    width: 50%;
}
#moody div h3 {
    text-align: center;
    font-size: 30px;
}
#moody div p {
    text-align: center;
}