main {
    margin-top: 50px;
    background-color: #ffffcc;
}
.navbar {
    background-color: #ffffcc;
}
#hero {
    background: url('../img/sunsetelly1.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0;
    text-align: center;
}
#hero h1 {
    font-size: 7em;
    text-transform: uppercase;
}
#hero h3 {
    font-size: 3em;
    text-transform: uppercase;
}
.btn-action {
    padding: 10px 15px;
    border: 2px solid ivory;
    color: ivory;
}

.btn-action:hover {
    background: #666666;
    color: ivory;
    text-decoration: none;
}
#guide {
    padding: 80px 0;
}
#guide {
    line-height: 24px;
}
#animals p {
    text-align: center;
}
#animals {
    padding: 80px 0;
}
#massai {
    padding: 80px 0;
}
#massai p {
    text-align: center;
}
#lions {
    background: url('../img/lionfeast.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    text-align: center;
}
#lions h3 {
    font-size: 3em;
    color: ivory;
}